.add-new-car-form {
	padding: 2px;
	height: var(--modal-child-height);
	overflow-y: scroll;
}

.form-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: var(--form-width);
}

.row {
	display: flex;
	justify-content: space-between;
	width: var(--form-width);
}
