:root {
	--form-width: 360px;
}

.add-new-car-form {
	padding: 1px;
	height: var(--modal-content-height);
	overflow-y: scroll;
}

.form-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: var(--form-width);
}

.form-row {
	display: flex;
	justify-content: space-between;
	width: var(--form-width);
}
