.row-item {
	font-size: 14px;
	margin: 5px 0;
}

/* small class will allow two items to occupy the row */
.ri-small {
	width: calc(var(--form-width) / 2 - 5px);
}

/* large class if the row size is 1, will occupy entire row */
.ri-large {
	width: var(--form-width);
}

.row-item input {
	font-family: 'Poppins', sans-serif;
	height: 25px;
	padding: 0 3px;
}
.row-item input[type='text'],
.row-item input[type='number'],
.row-item input[type='date'] {
	display: block;
	width: calc(var(--form-width) / 2 - 15px);
}

.row-item input[type='checkbox'] {
	height: 15px;
	width: 15px;
	margin-left: 6px;
	position: relative;
	vertical-align: middle;
	cursor: pointer;
}

.row-item textarea {
	font-family: 'Poppins', sans-serif;
	display: block;
	width: calc(var(--form-width));
	resize: none;
}

.row-item.button-box {
	display: flex;
	justify-content: center;
	align-items: center;
}

.row-item.button-box > button {
	margin: 10px;
}
