:root {
	--search-box-height: 40px;
	--bg: #0d1116;
	--color: #e6edf3;

	--modal-child-height: 600px;

	--car-showcase-width: 300px;
	--carousel-height: 350px;
	--dots-height: 20px;
	--carousel-img-height: calc(var(--carousel-height) - var(--dots-height));

	--details-height: calc(
		var(--modal-child-height) - var(--carousel-height) - 10px
	);

	--card-width: 150px;
	--card-height: 200px;
	--card-img-height: 170px;
	--card-border-radius: 10px;

	--form-width: 300px;
}

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--bg);
	color: var(--color);
}

.pf-100 {
	font-family: 'Poppins', sans-serif;
	font-weight: 100;
	font-style: normal;
}

.pf-200 {
	font-family: 'Poppins', sans-serif;
	font-weight: 200;
	font-style: normal;
}

.pf-300 {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-style: normal;
}

.pf-400 {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-style: normal;
}

.pf-500 {
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-style: normal;
}

.pf-600 {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-style: normal;
}

.pif-100 {
	font-family: 'Poppins', sans-serif;
	font-weight: 100;
	font-style: italic;
}

.pif-200 {
	font-family: 'Poppins', sans-serif;
	font-weight: 200;
	font-style: italic;
}

.pif-300 {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-style: italic;
}

.pif-400 {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-style: italic;
}

.pif-500 {
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-style: italic;
}

.pif-600 {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-style: italic;
}

.btn {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	padding: 10px 20px;
	background-color: #3498db;
	color: #fff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.btn:hover {
	background-color: #2980b9;
}

h1 {
	text-align: center;
	margin: 20px;
	margin-top: 80px;
}
