.toolbar {
	display: flex;
	justify-content: center;
	align-items: center;
	height: var(--toolbar-height);
	margin: 20px auto;
	padding: 0 40px;
}

.searchbox-container {
	width: 80vw;
	height: var(--toolbar-height);
	margin: 20px auto;
	text-align: center;
}
.searchbox-container input {
	padding: 0 8px;
	width: 90%;
	height: calc(100% - 4px);
	font-size: 12px;
	border-radius: 6px;
	color: rgb(69, 69, 69);
	border: 2px solid lightgray;
}

.add-car-btn-container {
	width: 20vw;
	height: var(--toolbar-height);
	margin: 0 auto;
	text-align: center;
}
.add-car-btn-container button {
	height: var(--toolbar-height);
	font-size: 12px;
}
