:root {
	--form-width: 360px;
}

.form-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: var(--form-width);
}

.form-row {
	display: flex;
	justify-content: space-between;
	width: var(--form-width);
}
