:root {
	--car-view-width: 300px;
}

.car-view {
	width: var(--car-view-width);
	/* border: 1px solid red; */
}

.car-view .image {
	height: 350px;
}

.car-view .details {
	width: var(--car-view-width);
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-direction: column;

	/* border: 1px solid red; */
}

.row {
	display: flex;
	justify-content: space-between;
	width: var(--car-view-width);
	min-height: 40px;
	height: fit-content;
	margin: 4px 0;

	/* border: 1px solid red; */
}

.row-item .label {
	display: block;
	font-size: 11px;
	color: gray;
}
.row-item .value {
	font-size: 14px;
}

.row .ri-small {
	width: calc(var(--car-view-width) / 2);

	/* border: 1px solid red; */
}

.row .ri-large {
	width: var(--car-view-width);
}
