:root {
	--car-view-width: 300px;
}

.car-view {
	width: var(--car-view-width);
}

.car-view .image {
	height: 300px;
}

.car-view .details {
	width: var(--car-view-width);
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-direction: column;
}

.row {
	display: flex;
	justify-content: space-between;
	width: var(--car-view-width);
	min-height: 40px;
	height: fit-content;
	margin: 4px 0;
}
