.toolbar {
	width: var(--toolbar-width);
	margin: 30px auto;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.row1 {
	width: var(--toolbar-row-width);
	height: var(--toolbar-row1-height);
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 4px;
}
.row1-child {
	height: var(--toolbar-row1-height);
}

.row1-child input {
	padding: 0 8px;
	height: calc(100% - 4px);
	width: var(--search-input-width);
	border-radius: 6px;
	color: rgb(69, 69, 69);
	border: 2px solid lightgray;
}
.row1-child button {
	height: var(--toolbar-row1-height);
}

.input-child {
	position: relative;
}
.input-cross {
	position: absolute;
	right: 8px;
	top: 5px;
	color: black;
	cursor: pointer;
}

.row2 {
	width: var(--toolbar-row-width);
	height: var(--toolbar-row1-height);
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.row1-child span,
.row2-child span {
	font-size: var(--btn-fs);
}

.row1-child.ncars {
	line-height: var(--toolbar-row1-height);
}

/* Main */
.message-box {
	text-align: center;
}
.result-msg {
	display: block;
	margin-bottom: 12px;
}

/* Pagination */
.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px 0 50px 0;
}
.pagination-text {
	font-size: var(--btn-fs);
}
.pagination > div {
	margin: 0 10px;
}
.pagination .left,
.pagination .right {
	cursor: pointer;
}
