.toolbar {
	width: var(--toolbar-width);
	margin: 20px auto;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.trow {
	width: var(--trow-width);
	height: var(--trow-height);
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 4px;
}
.trow-child {
	height: var(--trow-height);
	line-height: var(--trow-height);
}

.trow-child input {
	padding: 0 8px;
	height: calc(100% - 4px);
	width: var(--search-input-width);
	border-radius: 6px;
	color: #454545;
	border: 2px solid #d3d3d3;
}
.trow-child button {
	height: var(--trow-height);
}
.trow-child span {
	font-size: var(--btn-fs);
}

.input-child {
	position: relative;
}
.input-cross {
	position: absolute;
	right: 8px;
	top: 0px;
	color: #000;
	cursor: pointer;
}

.sort-order {
	cursor: pointer;
}
.sort-order:active {
	animation-name: rotate180;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}
@keyframes rotate180 {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(-180deg);
	}
}

.toggle-options {
	cursor: pointer;
	animation-name: rotateback90;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}
.toggle-options.active {
	animation-name: rotate_neg90;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}
@keyframes rotate_neg90 {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(-90deg);
	}
}
@keyframes rotateback90 {
	from {
		transform: rotate(-90deg);
	}
	to {
		transform: rotate(0deg);
	}
}

.trow2 {
	justify-content: right;
	position: relative;
	animation-name: fade;
	animation-duration: 0.5s;
}
.trow2 > .trow-child {
	margin-left: 10px;
}

.trow-child.keep-left {
	position: absolute;
	left: 0;
	margin-left: 0;
}

.trow2.hidden,
.pseudo.hidden {
	display: none;
}

.sort-by-label {
	font-size: var(--btn-fs);
}
#sortBy {
	padding: 2px;
	border-radius: 6px;
	font-size: var(--btn-fs);
}

/* Pagination */
.pagination {
	width: var(--pagination-width);
	margin: 20px 0 30px 0;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.pagination-text {
	font-size: var(--btn-fs);
}

/* arrow-left and arrow-right are common classes for components - Pagination and SwipeCar */
.arrow-left,
.arrow-right {
	cursor: pointer;
	width: 30px;
	height: 30px;
	line-height: 30px;
	border-radius: 50px;
	text-align: center;
}
.arrow-left:active {
	transform: translateX(-2px);
}
.arrow-right:active {
	transform: translateX(2px);
}
.arrow-left:hover,
.arrow-right:hover {
	background-color: #969da281;
}
.arrow-left.disabled,
.arrow-right.disabled {
	opacity: 0.6;
	pointer-events: none;
}
