/* AddCarForm.jsx */

.add-new-car-form {
	padding: 2px;
	height: var(--modal-child-height);
	overflow-y: scroll;
}

.form-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: var(--form-width);
}

.row {
	display: flex;
	justify-content: space-between;
	width: var(--form-width);
}

/* FormItem.jsx */

.row-item {
	font-size: 14px;
	margin: 5px 0;
}

/* small class will allow two items to occupy the row */
.ri-small {
	width: calc(var(--form-width) / 2 - 5px);
}

/* large class if the row size is 1, will occupy entire row */
.ri-large {
	width: var(--form-width);
}

.row-item input {
	font-family: 'Poppins', sans-serif;
	height: 25px;
	padding: 0 3px;
}
.row-item input[type='text'],
.row-item input[type='number'],
.row-item input[type='date'] {
	display: block;
	width: calc(var(--form-width) / 2 - 15px);
}

.row-item input[type='checkbox'] {
	height: 15px;
	width: 15px;
	margin-left: 6px;
	position: relative;
	vertical-align: middle;
	cursor: pointer;
}

.row-item textarea {
	font-family: 'Poppins', sans-serif;
	display: block;
	width: calc(var(--form-width));
	resize: none;
}

.row-item.button-box {
	display: flex;
	justify-content: center;
	align-items: center;
}

.row-item.button-box > button {
	margin: 10px;
}

/* EditCarDetails.jsx */

.edit-car-details {
	width: var(--car-showcase-width);
	display: flex;
	justify-content: flex-start;
	align-items: center;
	position: relative;
}
.edit-car-details.edit {
	justify-content: space-between;
}

.edit-comp-group {
	display: none;
	justify-content: space-around;
	align-items: center;
	width: 50px;
}
.edit-comp-group.active {
	display: flex;
}
.edit-comp-group:nth-child(2) {
	width: 120px;
	position: absolute;
	right: 55px;
}

.edit-comp.msg {
	font-size: 13px;
}

.edit-comp.icon {
	cursor: pointer;
}
.edit-comp.icon:active {
	transform: translateY(2px);
}
.edit-comp.icon.active {
	background-color: rgb(145, 231, 110);
	border-radius: 500px;
}
