/* AddCarForm.jsx */

.add-car-form {
	height: var(--modal-child-height);
	overflow-y: scroll;
}

.form-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: var(--modal-child-width);
}

.row {
	display: flex;
	justify-content: space-between;
	width: var(--modal-child-width);
}

/* FormItem.jsx */

.row-item {
	font-size: 14px;
}

.ri-small {
	width: var(--row-item-small-width);
}
.ri-large {
	width: var(--modal-child-width);
}

.row-item input {
	font-family: 'Poppins', sans-serif;
	height: 25px;
	padding: 0 3px;
}
.row-item input[type='text'],
.row-item input[type='number'],
.row-item input[type='date'] {
	display: block;
	width: calc(var(--modal-child-width) / 2 - 15px);
}

.row-item input[type='checkbox'] {
	height: 15px;
	width: 15px;
	margin-left: 6px;
	position: relative;
	vertical-align: middle;
	cursor: pointer;
}

.row-item textarea {
	font-family: 'Poppins', sans-serif;
	display: block;
	width: calc(var(--modal-child-width) - 6px);
	resize: none;
}

.row-item.button-box {
	display: flex;
	justify-content: center;
	align-items: center;
}

.row-item.button-box > button {
	margin: 10px;
	margin-bottom: 0;
}

/* EditCarDetails.jsx */

.edit-car-details {
	width: var(--modal-child-width);
	display: flex;
	justify-content: flex-start;
	align-items: center;
	position: absolute;
	top: 0;
	opacity: 0.9;
}
.edit-car-details.edit {
	justify-content: space-between;
	background-color: whitesmoke;
}

.edit-comp-group {
	display: none;
	justify-content: space-around;
	align-items: center;
	width: 50px;
	background-color: whitesmoke;
	border-radius: 0 0 4px 0;
}
.edit-comp-group.active {
	display: flex;
}
.edit-comp-group:nth-child(2) {
	width: 120px;
	position: absolute;
	right: 55px;
}

.edit-comp {
	padding: 3px 0;
}

.edit-comp.msg {
	font-size: 13px;
}

.edit-comp.icon {
	cursor: pointer;
}
.edit-comp.icon:active {
	transform: translateY(2px);
}
.edit-comp.icon.active {
	background-color: rgb(145, 231, 110);
	border-radius: 500px;
}
