/* Cars.jsx */

.car-list {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 10px;
}

/* Cars.jsx */

.card {
	width: var(--card-width);
	height: var(--card-height);
	margin: 6px;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
}
.card > div {
	width: inherit;
	margin: 0 auto;
}

.card-img-container {
	overflow: hidden;
	height: var(--card-img-height);
	display: flex;
	position: relative;
}

.card img {
	border-radius: 6px;
	object-fit: cover;
	width: inherit;
	height: inherit;
	min-height: var(--card-img-height);
	transition: all 0.5s ease;
}
.card:hover img {
	transform: scale(1.1);
}

.card-img-container .segment {
	width: 5px;
	height: var(--card-img-height);
	position: absolute;
	right: 0px;
	border-top-right-radius: 100px;
	border-bottom-right-radius: 100px;
	transition: all 0.5s ease;
	box-shadow: -1.5px 0px 4px #000;
}
.card:hover .card-img-container .segment {
	transform: scale(1.1);
	box-shadow: none;
}

.card-name-container {
	height: var(--card-name-cont-h);
	color: var(--color);
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}
.card-name-container span {
	font-size: var(--card-text-fs);
	line-height: calc(var(--card-text-fs) + 3px);
	padding: 0 2px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
}

/* CarShowcase.jsx */

.car-showcase {
	width: var(--modal-child-width);
	height: var(--modal-child-height);
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.car-showcase .details {
	width: var(--modal-child-width);
	height: calc(var(--modal-child-height) - var(--carousel-height) - 10px);
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	flex-direction: column;
}

.row {
	display: flex;
	justify-content: space-between;
	width: var(--modal-child-width);
	margin: 0;
}

/* no top margin on first row */
.row:not(:first-child) {
	margin-top: var(--row-top-margin);
}

/* ShowcaseItem.jsx */

.row-item {
	height: var(--row-height);
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.row-item .label {
	font-size: var(--showcase-item-label-fs);
	display: block;
	color: #808080;
}
.row-item .value {
	font-size: calc(var(--showcase-item-label-fs) + 2px);
	line-height: calc(var(--showcase-item-label-fs) + 2px);
}

.ri-small {
	width: calc(var(--modal-child-width) / 2);
}
.ri-large {
	width: var(--modal-child-width);
}

/* SwipeCar.jsx */

.swipe-car {
	width: var(--modal-child-width);
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/* Carousel.jsx */

.slideshow-container {
	width: var(--modal-child-width);
	height: var(--carousel-height);
	position: relative;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.slides {
	display: none;
	height: inherit;
	margin: 0 auto;
	width: var(--modal-child-width);
	height: var(--carousel-img-height);
}
.slides img {
	vertical-align: middle;
	height: var(--carousel-img-height);
	width: 100%;
	object-fit: cover;
	border-radius: 4px;
}

.carousel-arrow {
	font-size: 22px;
	position: absolute;
	top: calc((var(--carousel-img-height) / 2) - 18px);
	height: 40px;
	line-height: 40px;
	border-radius: 40px;
	width: 20px;
	background-color: #969da281;
	cursor: pointer;
	user-select: none;
}
.carousel-arrow.left {
	left: 0;
	border-radius: 0 40px 40px 0;
}
.carousel-arrow.right {
	right: 0;
	border-radius: 40px 0 0 40px;
	text-align: right;
}

.share {
	position: absolute;
	top: 0;
	right: 0;
	height: 25px;
	width: 25px;
	line-height: 25px;
	border-radius: 25px;
	cursor: pointer;
	background-color: #969da281;
	display: flex;
	justify-content: center;
	align-items: center;
}
.share img {
	height: 20px;
	width: 20px;
}

.dot {
	height: 6px;
	width: 6px;
	margin: 0 2px;
	background-color: #c2c2c2;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}
.dot.active {
	background-color: var(--accent-color);
}

.fade {
	animation-name: fade;
	animation-duration: 0.5s;
}
@keyframes fade {
	from {
		opacity: 0.4;
	}
	to {
		opacity: 1;
	}
}

@media screen and (min-width: 580px) {
	.car-list {
		margin: 10px 30px;
	}
	.card {
		margin: 8px;
	}
}

@media screen and (min-width: 768px) {
	.car-list {
		margin: 10px 50px;
	}
	.card {
		margin: 10px;
	}

	/* CarShowcase */
	.car-showcase {
		flex-direction: row;
		justify-content: space-between;
	}

	.car-showcase .details {
		height: var(--modal-child-height);
	}

	.car-showcase .details,
	.slideshow-container,
	.slides,
	.row {
		width: calc(var(--modal-child-width) / 2 - 10px);
	}
}

@media screen and (min-width: 1024px) {
	.car-list {
		margin: 20px 100px;
	}
	.card {
		margin: 12px;
	}
}

@media screen and (min-width: 1250px) {
	.card {
		margin: 14px;
	}
}
