/* Cars.jsx */

.car-list {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 10px;
}

/* Car.jsx */

.card {
	width: var(--card-width);
	height: var(--card-height);
	margin: 5px;
	border-radius: var(--card-border-radius);
	cursor: pointer;
	border: 2px solid #6f6e6c;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
}
.card > div {
	width: inherit;
	margin: 0 auto;
}

.card-img-container {
	overflow: hidden;
	height: var(--card-img-height);
}

.card img {
	border-top-left-radius: var(--card-border-radius);
	border-top-right-radius: var(--card-border-radius);
	object-fit: cover;
	width: inherit;
	height: inherit;
	min-height: var(--card-img-height);
	transition: all 0.5s ease;
}
.card:hover img {
	transform: scale(1.1);
	border-top-left-radius: var(--card-border-radius);
	border-top-right-radius: var(--card-border-radius);
}

.card-name-container {
	height: calc(var(--card-height) - var(--card-img-height));
	color: snow;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(30, 27, 27);
	border-bottom-left-radius: var(--card-border-radius);
	border-bottom-right-radius: var(--card-border-radius);
}
.card-name-container span {
	font-size: calc(var(--btn-fs) - 3px);
	padding: 0 2px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
}

/* CarShowcase.jsx */

.car-showcase {
	height: var(--modal-child-height);
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.car-showcase .details {
	width: var(--modal-child-width);
	height: calc(var(--modal-child-height) - var(--carousel-height) - 10px);
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	flex-direction: column;
}

.row {
	display: flex;
	justify-content: space-between;
	width: var(--modal-child-width);
	margin: 0;
	margin-top: var(--row-top-margin);
}

/* ShowcaseItem.jsx */

.row-item {
	height: var(--row-height);
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.row-item .label {
	font-size: var(--showcase-item-label-fs);
	display: block;
	color: gray;
}
.row-item .value {
	font-size: calc(var(--showcase-item-label-fs) + 2px);
	line-height: calc(var(--showcase-item-label-fs) + 2px);
}

.ri-small {
	width: calc(var(--modal-child-width) / 2);
}
.ri-large {
	width: var(--modal-child-width);
}

/* Carousel.jsx */

.slideshow-container {
	width: var(--modal-child-width);
	height: var(--carousel-height);
	position: relative;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.slides {
	display: none;
	height: inherit;
	margin: 0 auto;
	width: var(--modal-child-width);
	height: var(--carousel-img-height);
}
.slides img {
	vertical-align: middle;
	height: var(--carousel-img-height);
	width: 100%;
	object-fit: cover;
	border-radius: 4px;
}

.trigger {
	position: absolute;
	height: 35px;
	padding: 2px;
	top: calc((var(--carousel-img-height) / 2) - 27.5px);
	font-size: 30px;
	cursor: pointer;
	background-color: rgb(174, 255, 0);
}
.trigger.prev {
	border-radius: 0 2px 2px 0;
	left: 0;
}
.trigger.next {
	border-radius: 2px 0 0 2px;
	right: 0;
}

.dot {
	height: 6px;
	width: 6px;
	margin: 0 2px;
	background-color: #7b7b7b;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}
.dot.active {
	background-color: #de6565;
}

.fade {
	animation-name: fade;
	animation-duration: 0.5s;
}
@keyframes fade {
	from {
		opacity: 0.4;
	}
	to {
		opacity: 1;
	}
}

@media screen and (min-width: 580px) {
	.car-list {
		margin: 10px 30px;
	}
}

@media screen and (min-width: 768px) {
	.car-list {
		margin: 10px 50px;
	}
}

@media screen and (min-width: 1024px) {
	.car-list {
		margin: 20px 100px;
	}
}

@media screen and (min-width: 1250px) {
	.car-list {
		margin: 40px 100px;
	}
}
