/* CarShowcase.jsx */

.car-showcase {
	height: var(--modal-child-height);
	position: relative;
}

.car-showcase .details {
	width: var(--modal-child-width);
	height: var(--details-height);
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	flex-direction: column;
}

.row {
	display: flex;
	justify-content: space-between;
	width: var(--modal-child-width);
	min-height: 40px;
	height: fit-content;
	margin: 6px 0 0 0;
}

/* ShowcaseItem.jsx */

.row-item .label {
	display: block;
	font-size: 11px;
	color: gray;
}
.row-item .value {
	font-size: 13px;
	line-height: 13px;
}

.ri-small {
	width: var(--row-item-small-width);
}
.ri-large {
	width: var(--modal-child-width);
}

/* Carousel.jsx */

.slideshow-container {
	width: var(--modal-child-width);
	height: var(--carousel-height);
	position: relative;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.slides {
	display: none;
	height: inherit;
	margin: 0 auto;
	width: var(--modal-child-width);
	height: var(--carousel-img-height);
}
.slides img {
	vertical-align: middle;
	height: var(--carousel-img-height);
	width: 100%;
	object-fit: cover;
	border-radius: 4px;
}

.trigger {
	position: absolute;
	top: 50%;
	font-size: 30px;
	cursor: pointer;
	background-color: rgb(174, 255, 0);
}
.trigger.prev {
	left: 0;
}
.trigger.next {
	right: 0;
}

.dot {
	height: 6px;
	width: 6px;
	margin: 0 2px;
	background-color: #7b7b7b;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}
.dot.active {
	background-color: #de6565;
}

.fade {
	animation-name: fade;
	animation-duration: 0.5s;
}
@keyframes fade {
	from {
		opacity: 0.4;
	}
	to {
		opacity: 1;
	}
}
