.row-item .label {
	display: block;
	font-size: 11px;
	color: gray;
}
.row-item .value {
	font-size: 14px;
}

.ri-small {
	width: calc(var(--car-showcase-width) / 2);
}
.ri-large {
	width: var(--car-showcase-width);
}
