:root {
	--car-view-width: 300px;
	--details-height: calc(
		var(--modal-content-height) - var(--slideshow-container-height) - 10px
	);
}

.car-view {
	height: var(--modal-content-height);
}

.car-view .details {
	margin-top: 10px;
	width: var(--car-view-width);
	height: var(--details-height);
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	flex-direction: column;
}

.row {
	display: flex;
	justify-content: space-between;
	width: var(--car-view-width);
	min-height: 40px;
	height: fit-content;
	margin: 4px 0;
}
