/* Marquee.jsx */

.marquee-container {
	width: 100%;
}

marquee {
	font-size: 36px;
}
marquee.left {
	transform: scale(-1, 1);
}

/* Message.jsx */

.message {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

/* Modal.jsx */

.modal-out {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal-body {
	height: var(--modal-height);
	background: whitesmoke;
	color: black;
	margin: auto;
	padding: 20px;
	border: 2px solid #000;
	border-radius: 10px;
	box-shadow: 2px solid black;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}

.modal-header {
	height: var(--modal-header-height);
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	position: relative;
}

.modal-title {
	font-size: var(--modal-header-fs);
}
.modal-close {
	font-size: calc(var(--modal-header-fs) - 2px);
	cursor: pointer;
	position: absolute;
	right: -5px;
	top: -15px;
}
.modal-close:hover {
	transform: scale(1.1);
}

@media screen and (min-width: 580px) {
	.modal-body {
		padding: 30px;
	}
}
